
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fertilisation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <!-- <link href="/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
 <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> 

  <!-- Template Main CSS File -->
  <link href="/fertilisations.css" rel="stylesheet">
</head>

<body style="background-color: #bcf2c2;">

    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">Olivier</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="index">Acceuil</a></li>
            <li><a href="index#ctn">A Propos</a></li>
            <li>
              <a href="#" class="desktop-item">Nos Pages</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Nos Pages</label>
              <ul class="drop-menu">
                <li><a href="fertilisation">Ferstilisation</a></li>
                <li><a href="stade">Les Stades D'olivier</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="login">Déconnection</a></li>
              </ul>
            </li>
            <li>
              <a href="index#mains" class="desktop-item">Produits</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown"> <span>La fertilisation d'olivier</span></h2>
          <p class="animate__animated animate__fadeInUp">Quels sont les éléments essentiels pour fertiliser les oliviers ?</p>
          <a href="#0" class="btn-get-started animate__animated animate__fadeInUp">Lire plus</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"></div>
              <h4 class="title" id="0">Comprendre la Fertilisation</a></h4>
              <p class="description">La fertilisation est un processus crucial dans l'agriculture et l'horticulture, visant à enrichir le sol en éléments nutritifs essentiels pour favoriser la croissance des plantes. Voici les principaux aspects à comprendre :</p>
              <a style="color: rgb(55, 53, 53);" href="#1"><strong> <i> Voir plus </i></strong> </a>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"></div>
              <h4 class="title">Conseils</a></h4>
              <p class="description">Un conseil important pour la fertilisation des oliviers est de suivre une approche équilibrée et adaptée aux besoins spécifiques de votre plantation. Voici quelques points clés à garder à l'esprit :</p>
              <a style="color: rgb(55, 53, 53);" href="#2"><strong><i> Voir plus </i></strong> </a>
            </div>
            
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"></div>
              <h4 class="title">Technique de la Fertilisation</a></h4>
              <p class="description">Voici quelques techniques spécifiques de fertilisation pour les oliviers : </p>
              <a style="color: rgb(55, 53, 53);" href="#3"><strong><i> Voir plus </i></strong> </a>

            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>plus de details</h2>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/img/ferti1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3 id="1">Comprendre la Fertilisation</h3>
            <ul>
              <li><i class="bi bi-check"></i> Les éléments nutritifs essentiels : Les plantes ont besoin de divers éléments pour croître, notamment l'azote, le phosphore, le potassium, le calcium, le magnésium et le soufre. Ces éléments sont souvent apportés par des engrais..</li>
              <li><i class="bi bi-check"></i> Types d'engrais : Il existe deux principaux types d'engrais : les engrais organiques et les engrais minéraux. Les engrais organiques proviennent de matières organiques décomposées, comme le fumier, et enrichissent le sol sur le long terme. Les engrais minéraux sont produits chimiquement et sont souvent plus rapidement disponibles pour les plantes..</li>
              <li><i class="bi bi-check"></i> Importance de l'équilibre : Un excès ou une carence en certains nutriments peut affecter la croissance des plantes. Un équilibre approprié est essentiel pour optimiser la santé des cultures et la qualité des récoltes..</li>
              <li><i class="bi bi-check"></i> Considérations environnementales : L'utilisation excessive d'engrais peut avoir des effets néfastes sur l'environnement, tels que la pollution des eaux souterraines par lessivage des nitrates. Il est donc crucial de pratiquer une fertilisation responsable et adaptée aux besoins spécifiques des cultures..</li>


            </ul>
          </div>
        </div>
      

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="/img/ferti4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3 id="2">Conseils</h3>

            <ul>
              <li><i class="bi bi-check"></i> Analyse du sol : Avant d'appliquer des engrais, il est crucial de réaliser une analyse de sol pour déterminer les besoins spécifiques en nutriments de vos cultures. Cela permet d'éviter une sous-fertilisation ou une sur-fertilisation.</li>
              <li><i class="bi bi-check"></i> Dose appropriée : Respectez les doses recommandées pour chaque type d'engrais et pour chaque culture. Trop peu d'engrais peut entraîner une croissance médiocre des plantes, tandis qu'un excès peut conduire à des perturbations environnementales et à des problèmes de santé pour les plantes.</li>

            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/img/ferti3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3 id="3">Techniques</h3>
            <ul>
              <li><i class="bi bi-check"></i>Fertilisation minérale équilibrée : Les oliviers ont besoin de nutriments comme l'azote (N), le phosphore (P), le potassium (K), ainsi que de calcium (Ca) et de magnésium (Mg). Il est essentiel d'appliquer des engrais équilibrés pour répondre aux besoins nutritionnels des arbres.</li>
              <li><i class="bi bi-check"></i> Fertilisation organique : L'utilisation de compost bien décomposé, de fumier ou d'autres matières organiques peut contribuer à améliorer la structure du sol, sa capacité de rétention d'eau, et fournir des nutriments essentiels de manière progressive.</li>
              <li><i class="bi bi-check"></i> Fertilisation foliaire : L'application d'engrais liquides directement sur les feuilles peut être bénéfique pour pallier rapidement aux carences nutritives et améliorer la santé générale de l'arbre.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <footer id="contact">
    <div class="footer-container">
        <div class="footer-left">
            <h2>l'Olivier<span>Maroc</span></h2>
            <p>YouCode Safi © 2024</p>
        </div>
        <div class="footer-center">
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <p>YouCode <br>Safi</p>
            </div>
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <p>+212 619324010</p>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <p><a href="mailto:support@company.com">YouCodeSafi@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <h3>À propos de l'entreprise</h3>
            <p>Nous sommes une entreprise leader dans notre secteur, engagée à fournir
            des produits et services de qualité à nos clients.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/YouCodeSchool?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/youcode-maroc/"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="">
    /**
* Template Name: Moderna
* Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
* Updated: May 7 2024 with Bootstrap v5.3.3
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

// (function() {
//   "use strict";

//   /**
//    * Easy selector helper function
//    */
//   const select = (el, all = false) => {
//     el = el.trim()
//     if (all) {
//       return [...document.querySelectorAll(el)]
//     } else {
//       return document.querySelector(el)
//     }
//   }

//   /**
//    * Easy event listener function
//    */
//   const on = (type, el, listener, all = false) => {
//     let selectEl = select(el, all)
//     if (selectEl) {
//       if (all) {
//         selectEl.forEach(e => e.addEventListener(type, listener))
//       } else {
//         selectEl.addEventListener(type, listener)
//       }
//     }
//   }

//   /**
//    * Easy on scroll event listener 
//    */
//   const onscroll = (el, listener) => {
//     el.addEventListener('scroll', listener)
//   }

//   /**
//    * Scrolls to an element with header offset
//    */
//   const scrollto = (el) => {
//     let header = select('#header')
//     let offset = header.offsetHeight

//     if (!header.classList.contains('header-scrolled')) {
//       offset -= 20
//     }

//     let elementPos = select(el).offsetTop
//     window.scrollTo({
//       top: elementPos - offset,
//       behavior: 'smooth'
//     })
//   }

//   /**
//    * Toggle .header-scrolled class to #header when page is scrolled
//    */
//   let selectHeader = select('#header')
//   if (selectHeader) {
//     const headerScrolled = () => {
//       if (window.scrollY > 100) {
//         selectHeader.classList.add('header-scrolled')
//       } else {
//         selectHeader.classList.remove('header-scrolled')
//       }
//     }
//     window.addEventListener('load', headerScrolled)
//     onscroll(document, headerScrolled)
//   }

//   /**
//    * Back to top button
//    */
//   let backtotop = select('.back-to-top')
//   if (backtotop) {
//     const toggleBacktotop = () => {
//       if (window.scrollY > 100) {
//         backtotop.classList.add('active')
//       } else {
//         backtotop.classList.remove('active')
//       }
//     }
//     window.addEventListener('load', toggleBacktotop)
//     onscroll(document, toggleBacktotop)
//   }

//   /**
//    * Mobile nav toggle
//    */
//   on('click', '.mobile-nav-toggle', function(e) {
//     select('#navbar').classList.toggle('navbar-mobile')
//     this.classList.toggle('bi-list')
//     this.classList.toggle('bi-x')
//   })

//   /**
//    * Mobile nav dropdowns activate
//    */
//   on('click', '.navbar .dropdown > a', function(e) {
//     if (select('#navbar').classList.contains('navbar-mobile')) {
//       e.preventDefault()
//       this.nextElementSibling.classList.toggle('dropdown-active')
//     }
//   }, true)

//   /**
//    * Scrool with ofset on links with a class name .scrollto
//    */
//   on('click', '.scrollto', function(e) {
//     if (select(this.hash)) {
//       e.preventDefault()

//       let navbar = select('#navbar')
//       if (navbar.classList.contains('navbar-mobile')) {
//         navbar.classList.remove('navbar-mobile')
//         let navbarToggle = select('.mobile-nav-toggle')
//         navbarToggle.classList.toggle('bi-list')
//         navbarToggle.classList.toggle('bi-x')
//       }
//       scrollto(this.hash)
//     }
//   }, true)

//   /**
//    * Skills animation
//    */
//   let skilsContent = select('.skills-content');
//   if (skilsContent) {
//     new Waypoint({
//       element: skilsContent,
//       offset: '80%',
//       handler: function(direction) {
//         let progress = select('.progress .progress-bar', true);
//         progress.forEach((el) => {
//           el.style.width = el.getAttribute('aria-valuenow') + '%'
//         });
//       }
//     })
//   }

//   /**
//    * Testimonials slider
//    */
//   new Swiper('.testimonials-carousel', {
//     speed: 400,
//     loop: true,
//     autoplay: {
//       delay: 5000,
//       disableOnInteraction: false
//     },
//     pagination: {
//       el: '.swiper-pagination',
//       type: 'bullets',
//       clickable: true
//     }
//   });

//   /**
//    * Porfolio isotope and filter
//    */
//   window.addEventListener('load', () => {
//     let portfolioContainer = select('.portfolio-container');
//     if (portfolioContainer) {
//       let portfolioIsotope = new Isotope(portfolioContainer, {
//         itemSelector: '.portfolio-wrap',
//         layoutMode: 'fitRows'
//       });

//       let portfolioFilters = select('#portfolio-flters li', true);

//       on('click', '#portfolio-flters li', function(e) {
//         e.preventDefault();
//         portfolioFilters.forEach(function(el) {
//           el.classList.remove('filter-active');
//         });
//         this.classList.add('filter-active');

//         portfolioIsotope.arrange({
//           filter: this.getAttribute('data-filter')
//         });
//         portfolioIsotope.on('arrangeComplete', function() {
//           AOS.refresh()
//         });
//       }, true);
//     }

//   });

//   /**
//    * Initiate portfolio lightbox 
//    */
//   const portfolioLightbox = GLightbox({
//     selector: '.portfolio-lightbox'
//   });

//   /**
//    * Portfolio details slider
//    */
//   new Swiper('.portfolio-details-slider', {
//     speed: 400,
//     autoplay: {
//       delay: 5000,
//       disableOnInteraction: false
//     },
//     pagination: {
//       el: '.swiper-pagination',
//       type: 'bullets',
//       clickable: true
//     }
//   });

//   /**
//    * Animation on scroll
//    */
//   window.addEventListener('load', () => {
//     AOS.init({
//       duration: 1000,
//       easing: "ease-in-out",
//       once: true,
//       mirror: false
//     });
//   });

//   /**
//    * Initiate Pure Counter 
//    */
//   new PureCounter();

//   /**
//    * Init Clients swiper sliders
//    */
//   function initClientsSwiper() {
//     document.querySelectorAll('.clients-swiper').forEach(function(swiper) {
//       let config = JSON.parse(swiper.querySelector('.swiper-config').innerHTML.trim());
//       new Swiper(swiper, config);
//     });
//   }
//   window.addEventListener('load', initClientsSwiper);

// })()
  </script>

</body>
</html>