<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">Olivier</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="#cnt">Acceuil</a></li>
            <li><a href="#pp">A Propos</a></li>
            <li>
              <a href="#" class="desktop-item">Nos Pages</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Nos Pages</label>
              <ul class="drop-menu">
                <li><a href="fertilisation">Ferstilisation</a></li>
                <li><a href="stade">Les Stades D'olivier</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="login">Déconnection</a></li>
              </ul>
            </li>
            <li>
              <a href="#mains" class="desktop-item">Produits</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

    <header>
        <div class="containe" id="cnt">
            <div class="content">
                <h1>Bienvenue sur notre site</h1>
                <h2>"De la Fleur au Fruit : Comprendre la Phénologie de l'Olivier"</h2>
                <!-- <div id="outer">
                    <div id="outer">
                        <div class="inner">
                                <form action="#" target="_blank">
                                    <button type="submit"><i class="fa fa-file-text-o"></i>s'inscrire</button>
                                </form>
                        </div>
                        <div class="inner">
                            <form action="#" target="_blank">
                                <button class="btns" type="submit"><i class="fa fa-file-text-o"></i>se connecter</button>
                            </form>
                        </div>
                    </div>
            </div> -->
            </div>
        
            <ul class="slideshow">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="containers">
            <div class="text-section">
                <h1>l'olivier :</h1>
                <p>
                    L'olivier est un arbre méditerranéen connu pour ses feuilles persistantes et ses fruits,
                    les olives. Il est symbole de paix et de prospérité. L'olivier est cultivé principalement pour la production d'huile d'olive,
                    très prisée en cuisine, ainsi que pour ses olives, consommées à l'état frais ou en conserve. Cet arbre peut vivre plusieurs
                    centaines d'années et est souvent associé à des paysages typiques des régions chaudes.
                </p>
                <button><a href="#">lire plus</a></button>
            </div>
            <div class="image-section">
                <img src="/img/olives-789140_640.jpg">
            </div>
        </div>
    </section>

    <section>
            <div id="header">
                <h1>Plantation d'un olivier : que savoir ?</h1>
                <div class="container">
                <div class="card">
                  <div class="card-image">
                    <img src="/img/planting-3925217_640.jpg">
                  </div>
                  <div class="card-text">
                    <h2 class="card-title">Choisissez un emplacement géographique</h2>
                    <p class="card-body">Sélection d'un emplacement approprié
                        offrant les conditions climatiques et pédologiques
                        idéales pour la croissance optimale de l'olivier.
                        Un sol bien drainé et bien aéré est préférable.
                    </p>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-image">
                    <img src="/img/OIP.jpg">
                  </div>
                  <div class="card-text">
                    <h2 class="card-title">Préparation du sol</h2>
                    <p class="card-body">Habituellement, cela 
                        implique le labourage du terrain et le 
                        nivellement pour préparer le
                        sol à la plantation des jeunes plants.</p>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-image">
                    <img src="/img/w.webp">
                  </div>
                  <div class="card-text">
                    <h2 class="card-title">Plantation des jeunes plants</h2>
                    <p class="card-body">Les jeunes plants sont 
                        plantés au moment opportun de l'année, 
                        généralement au printemps ou en 
                        automne, en fonction des conditions locales
                        et du type de plants disponibles.</p>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-image">
                    <img src="/img/pexels-gary-barnes-6231905.jpg">
                  </div>
                  <div class="card-text">
                    <h2 class="card-title">Soins initiaux</h2>
                    <p class="card-body">Après la plantation,les
                        jeunes plants nécessitent des soins
                        initiaux tels que l'arrosage régulier et 
                        éventuellement une nutrition de base pour
                        favoriser leur établissement et leur 
                        croissance.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mainHeading">
        <div class="mainHeading__content">
           <article class="mainHeading__text">
              <h2 class="mainHeading__title">"Quels sont les principaux stades 
                de développement de l'olivier ? "</h2>
                <button class="mainHeading__description"><a href="stade">Voir Plus</a></button>
              
           </article>
     
           <figure class="mainHeading__image">
              <img src="/img/olives-789140_640.jpg" alt=""/>
           </figure>
        </div>
    </section>

    <main id="main">
        <div class="AA">
            <h1>Fertilisation</h1>
            <div class="contents">
                <div class="BB">
                    <img src="/img/tractor-3486285_640.jpg">
                    <button><a href="fertilisation">Voir Plus</a></button>
                </div>
                <div class="CC">
                    <h2>Éléments Essentiels pour la Fertilisation de l'Olivier</h2>
                    <ul>
                        <li>
                            <img src="/img/plant-8338691_640.jpg">
                            <p>Comprendre la Fertilisation</p>
                        </li>
                        <li>
                            <img src="/img/woman-6795434_640.jpg">
                            <p>Conseils</p>
                        </li>
                        <li>
                            <img src="/img/agriculture-6533227_640.jpg">
                            <p>Techniques</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </main>

    <!-- <div id="mains">
        <h1>Nos Produits</h1>
        <main class="contain">
            <section class="cards">
            <div class="product-image">
                <img src="img/olive-6777955_640.jpg" alt="OFF-white Red Edition" draggable="false" />
            </div>
            <div class="product-info">
                <p>Olives fraîches et parfaitement mûres</p>
            </div>
            <div class="btn">
                <button class="buy-btn">Achète</button>
            </div>
            </section>
            <section class="cards">
            <div class="product-image">
                <img src="img/olive-oil-3803168_640.jpg" alt="OFF-white Blue Edition" draggable="false" />
            </div>
            <div class="product-info">
                <p>Huile d'olive 100% naturelle</p>
            </div>
            <div class="btn">
                <button class="buy-btn">Achète</button>
            </div>
            </section>
            <section class="cards">
                <div class="product-image">
                <img src="img/cream-3496778_640.jpg" alt="OFF-white Red Edition" draggable="false" />
                </div>
                <div class="product-info">
                <p>Le paquet contient une 
                    crème et un savon à 
                    l'extrait d'huile d'olive.</p>
                </div>
                <div class="btn">
                <button class="buy-btn">Achète</button>
                </div>
            </section>
        </main>
    </div> -->

    <div id="mains">
        <h1>Nos Produits</h1>
        <main class="contain">
            <% products.forEach(product => { %>
            <section class="cards">
                <div class="product-image">
                    <img src="<%= product.product_image_url %>" alt="<%= product.product_name %>" draggable="false" />
                </div>
                <div class="product-info">
                    <p><%= product.product_description %></p>
                </div>
                <div class="btn">
                    <form action="/purchase" method="POST">
                        <input type="hidden" name="email" value="hananeassia202@gmail.com">
                        <input type="hidden" name="productName" value="<%= product.product_name %>">
                        <button type="submit" class="buy-btn">Acheter</button>
                    </form>
                </div>
            </section>
            <% }); %>
        </main>
    </div>

    <section>
        <div class="pp" id="pp">
            <div class="left-section">
                <div class="value-card">
                    <h2>Valeur</h2>
                    <p>L'olivier est une plante emblématique et précieuse 
                    dans de nombreuses cultures, particulièrement dans le bassin méditerranéen.
                    Sa valeur s'étend à plusieurs domaines : économique, nutritionnel, culturel 
                    et environnemental.</p>
                </div>
            </div>
            <div class="right-section">
                <h3>Notre Vision et Mission</h3>
                <div class="vision-mission">
                    <div class="vision">
                        <img src="/img/vision-removebg-preview.png">
                        <h2>Vision</h2>
                        <p>À travers notre passion pour l'olivier, nous aspirons à célébrer et 
                            promouvoir la richesse et la diversité de cette plante emblématique.
                        Notre vision est de faire de l'olivier un symbole de durabilité, de bien-être 
                        et de patrimoine culturel, tout en mettant en avant ses multiples bienfaits pour 
                        la santé, l'économie et l'environnement.</p>
                    </div>
                    <div class="mission">
                        <img src="/img/mission-removebg-preview.png">
                        <h2>Mission</h2>
                        <p>Nous nous engageons à offrir des informations de qualité, à soutenir 
                            des pratiques durables et à encourager une appréciation profonde de 
                            cette l'olivier</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.querySelector('.value-card').addEventListener('click', function() {
            this.classList.toggle('value');
        });
    </script>

    <footer id="contact">
        <div class="footer-container">
            <div class="footer-left">
                <h2>l'Olivier<span>Maroc</span></h2>
                <p>YouCode Safi © 2024</p>
            </div>
            <div class="footer-center">
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>YouCode <br>Safi</p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <p>+212 619324010</p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <p><a href="mailto:support@company.com">YouCodeSafi@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <h3>À propos de l'entreprise</h3>
                <p>Nous sommes une entreprise leader dans notre secteur, engagée à fournir
                des produits et services de qualité à nos clients.</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/YouCodeSchool?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/youcode-maroc/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>